
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="#"><img src="\assets\images\logo.jpg" height="60px" class="mx-5"></a>
    <button  class=" me-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class=" collapse navbar-collapse " id="navbarTogglerDemo02">
      <ul class=" col-6 navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a routerLink="/available" class="nav-link px-2 text-dark">Job Available</a>
        </li>
        <li class="nav-item">
          <a routerLink="/applied" class="nav-link px-2 text-dark">Job Applied</a>
        </li>
      </ul>
      
      <div class="col-6  d-flex  justify-content-end  px-2" style="padding-right:0px !important;">
        <button type="button" class="btn btn-primary me-2"><a routerLink="/nav3" class="text-white text-decoration-none">Profile</a></button>
        <button type="button" class="btn me-3 btn-success"><a routerLink="/" class="text-white text-decoration-none">Log out</a></button>
      </div>
     </div>
   
    
  </nav>

  
 

