.container{
    margin:100px ;

 }
 
 th,td{
    border-bottom: 1px solid rgb(219, 213, 213);
    width:max-content;
    padding:10px 60px;
}

th{ border-top: 1px solid rgb(219, 213, 213);
    background-color:whitesmoke;
}
td{
    font-weight: 500;
}

table{
    margin:100px auto;
}
.even{
    background-color: rgba(199, 204, 207, 0.593);
}

p{  
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}
