
<div class=" row w-100 box">

    <img src="assets\images\wall6.gif" class="d-flex w-100" height="500px" alt="img 1">
    
    <!-- <img src="assets\images\wall4.gif" class="d-block col-5 col-md-5 col-sm-5 col-xs-10" height="400px" width="50%" alt="img 1"> -->
    
    <div class="content">
        <h1>Find your dream job now</h1>
        <p>5 lakh+ jobs for you to explore</p>

    </div>
</div>


<div class="container">
    <div class="head1 shadow  w-50 ">
        <h1 class="  rounded ">Top companies hiring now</h1>
    </div>

    
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="row m-6  mar text-center ">
                <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5   m shadow rounded " >
                    <img class="bd-placeholder-img rounded-circle center" width="140" height="140"
                        src="assets\images\hire1.jpg" role="img" aria-label="Placeholder"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <!-- <title>Placeholder</title> -->
                    <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect> -->
                    <h2 class="fw-normal ">TCS</h2>
                    <p>Some representative placeholder content for the three columns of text below the carousel. This is
                        the
                        first column.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5 m shadow rounded" >
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                        src="assets\images\hire2.jpg" role="img" aria-label="Placeholder"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <!-- <title>Placeholder</title> -->
                    <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect> -->
                    <h2 class="fw-normal">Infosys</h2>
                    <p>Another exciting bit of representative placeholder content. This time, we've moved on to the
                        second
                        column.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5   m   shadow rounded" >
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                        src="assets\images\hire3.jpg" role="img" aria-label="Placeholder"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <!-- <title>Placeholder</title> -->
                    <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect> -->
                    <h2 class="fw-normal">Microsoft</h2>
                    <p>And lastly this, the third column of representative placeholder content.</p>
                </div><!-- /.col-lg-4 -->
            </div>
        </div>
            <div class="carousel-item">
                <div class="row m-6 mar text-center ">
                    <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5   m shadow rounded " >
                        <img class="bd-placeholder-img rounded-circle center" width="150" height="140"
                            src="assets\images\hire4.png" role="img" aria-label="Placeholder"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                        <!-- <title>Placeholder</title> -->
                        <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect> -->
                        <h2 class="fw-normal ">Google</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is
                            the
                            first column.</p>
                    </div><!-- /.col-lg-4 -->
    
                    <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5   m shadow rounded" >
                        <img class="bd-placeholder-img rounded-circle" width="160" height="140"
                            src="assets\images\hire5.png" role="img" aria-label="Placeholder"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                        <!-- <title>Placeholder</title> -->
                        <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect> -->
                        <h2 class="fw-normal">Apple</h2>
                        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the
                            second
                            column.</p>
                    </div><!-- /.col-lg-4 -->
    
                    <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5   m shadow rounded" >
                        <img class="bd-placeholder-img rounded-circle" width="150" height="140"
                            src="assets\images\hire6.jpg" role="img" aria-label="Placeholder"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                        <!-- <title>Placeholder</title> -->
                        <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect> -->
                        <h2 class="fw-normal">cognizant</h2>
                        <p>And lastly this, the third column of representative placeholder content.</p>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div>

            <div class="carousel-item">
                <div class="row m-6 mar text-center">
                    <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5   m  shadow rounded " >
                        <img class="bd-placeholder-img rounded-circle center" width="180" height="140"
                            src="assets\images\hire7.png" role="img" aria-label="Placeholder"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                        <!-- <title>Placeholder</title> -->
                        <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect> -->
                        <h2 class="fw-normal ">wipro</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is
                            the
                            first column.</p>
                    </div><!-- /.col-lg-4 -->
    
                    <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5   m shadow rounded">
                        <img class="bd-placeholder-img rounded-circle" width="160" height="140"
                            src="assets\images\hire8.png" role="img" aria-label="Placeholder"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                        <!-- <title>Placeholder</title> -->
                        <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect> -->
                        <h2 class="fw-normal">HCL</h2>
                        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the
                            second
                            column.</p>
                    </div><!-- /.col-lg-4 -->
    
                    <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5   m  shadow rounded" >
                        <img class="bd-placeholder-img rounded-circle" width="150" height="140"
                            src="assets\images\hire9.jpeg" role="img" aria-label="Placeholder"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                        <!-- <title>Placeholder</title> -->
                        <!-- <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect> -->
                        <h2 class="fw-normal">IBM</h2>
                        <p>And lastly this, the third column of representative placeholder content.</p>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div>

        </div>
        <button class="carousel-control-prev bg-dark mx-5  rounded" type="button"  style="width:40px; height:100px; margin-top: 12%;" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next bg-dark  rounded " style="width:40px; height:100px; margin-top: 12%;" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
    </div>
    
    <div class="container">
    <hr class="featurette-divider">
    </div>

    <div class="container top">
    <div class="row featurette">
        <div class="col-md-7">
          <h1 class="featurette-heading fw-normal lh-1 text ">Let's make your next great hire. Fast. <span class="text-body-secondary"></span></h1>
          <button class="btn btn-primary l">Post</button>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets\images\home1.avif" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>

    <div class="container   a">
        <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5 postdesign  shadow rounded">
            <h2 style="margin-bottom: 35px;">Create your Account</h2>
            <p>All you need is your email address to create an account and start building your job post.</p>
        </div >
        <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5 postdesign  shadow rounded">
            <h2 style="margin-bottom: 35px;">Build your <br>job post</h2>
            <p>Then just add a title, description, and location to your job post, and you're ready to go.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-7 m-sm-3 m-md-4 m-lg-4 col-xxl-3  m-xxl-5 postdesign  shadow rounded">
            <h2 style="margin-bottom: 35px;">Post your<br> job</h2>
            <p>After you post your job use our state of the art tools to help you find dream talent.</p>
        </div>

        </div>
    </div>

  
    <br>
    <br>
    <br>


        <div class="container-fluid c">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5  border-top">
              <div class="help">
                <p class="lea">We're here to help.</p>
                <p class="text-body-secondary">contact us directly.</p>
                <button class="btn btn-primary">Contact</button>
              </div>

              
              <div class="col mb-3">
                <p class="lea">Job_Portal</p>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">contact</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Log In</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Register</a></li>
                </ul>
              </div>
          
              <div class="col mb-3">
                <p class="lea">Employee</p>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Available Job</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Applied Job</a></li>
                
                </ul>
              </div>
          
              <div class="col mb-3">
                <p class="lea">Recruiter</p>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Seekers</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Post Job</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Posted Jobs</a></li>
                 
                </ul>
              </div>
            
             
            </footer>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4  border-top">
                <p  style="margin-left: 40px;;">© 2023 Job_Portal, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                  <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                  <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                  <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                </ul>
              </div>
          </div>