.c{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, blue , rgb(255, 0, 247));
    height: 100vh;
  }

  .login-box {
    position:relative;
    max-width: 500px;
    min-width: 100px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); 
    padding: 20px;
    border: 1px solid #ccc;
    /* background-color: #fff; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #f2f2f2;
    
    
    /* text-align: center; */
  }
  
    input[type='text'] {
      background-image: url('src\assets\images\user.png');
      background-position: 4px 7px;
      background-repeat: no-repeat;
  }
  input[type='password'] {
    background-image: url('src\assets\images\pwd.png');
    background-position: 4px 7px;
    background-size:27px;
    background-repeat: no-repeat;
}
  

  h2{
    text-align: center;
    padding-bottom:30px;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    padding-left: 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  input[type=password]{
    margin-bottom: 10px; 
  }
  .button1 {
    background-image: linear-gradient(to right, blue , rgb(255, 0, 247));;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
  }
 .registerme {
text-align: center;
padding-top: 40px;
 }
  .register{
    background-color: #f2f2f2;
    color:black;
    text-align:center;
    border:none;
    font-weight: 450;

  }
  /* .instruction{
    border:1px solid pink;
    padding:4px 20px;
    margin-bottom:2px ;
  } */