<app-nav2></app-nav2>


<div class="row shadow  border rounded ">
    <div class=" col-5 mb-3 mx-5 emplog">
        <img src="assets\images\register1.gif" hieght="500px" width="380px">
<button class="b"><a routerLink="/employeeregister" class="btn d btn-outline-dark text-decoration-none">Employee Register</a></button>
</div>
<div class=" col-5 mb-3 mx-2 reclog">
    <img src="assets\images\register3.gif" hieght="500px" width="380px">
<button class="b"><a routerLink="/recruiterregister" class="btn d btn-outline-dark text-decoration-none">Recruiter Register</a></button>
</div>
</div>
