.search-box{
    height:40px;
    border-radius:50px 0 0 50px ;
    border: 1px  solid antiquewhite;
    padding:10px;
}
.search-button{
height:40px;
border:1px solid antiquewhite;
border-radius: 0 50px 50px 0;
}