<app-nav2></app-nav2>


<div class=" row shadow  border rounded ">
<div class=" col-5 mb-3 mx-5 emplog">
<img src="assets\images\log1.gif" hieght="500px" width="380px">
<button class="b"><a routerLink="/employeelogin" class="btn d btn-outline-dark text-decoration-none">Employee Login</a></button>
</div>
<div class=" col-5 mb-3 mx-2 reclog">
<img src="assets\images\log3.gif" hieght="500px" width="312px">
<button class="b"><a routerLink="/recruiterlogin" class="btn d btn-outline-dark text-decoration-none">Recruiter Login</a></button>
</div>
</div>
