* {
	box-sizing: border-box;
}
.c{
    font-family: Arial, sans-serif;
    height: 100vh;
  }



.Register-box {
	background-color: #f2f2f2;
    position:relative;
    max-width: 500px;
    top:70%;
    left:50%; 
    transform:translate(-50%,-50%); 
	/* margin: 0 auto; */
	padding: 20px;
    border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  
}


label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"], input[type="date"],input[type="email"],input[type="number"], select {
	width: 100%;
	padding: 10px;
	border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 20px;
     border: 1px solid #ccc;
}

input[type="radio"] {
	margin-right: 10px;
}

.button1 {
    background-image: linear-gradient(to right, blue , rgb(255, 0, 247));;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
  }

  .display{
    display:none ;
    padding:50px 60px;
    position:absolute;
    top:50%;
    left:30%;
    text-align: center;
    background-color:rgb(203, 204, 206);
    font-family: Arial, Helvetica, sans-serif;
  }
 